<p id="notice"><%= notice %></p>


<p>
  <h2><%= @apartment.name %></h2>
</p>

<p>
  <strong>Address:</strong>
  <%= @apartment.address %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @apartment.hours %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @apartment.contact %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>



<hr>

<div id="apartment_map" data-apartment-id="<%=@apartment.id%>">Google Map will appear here...</div>

<hr>
<h3>Visitation Hours:</h3>
<div id="calendar">
</div>
